/*html,body{
	position:absolute;
	height:100%;
}*/
html,body,h1,ul,li,a,p{
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration: none
}
hr{
	color:#aaa;
}
.button{
	/*display:none;*/
}
/*font*/
h1,h2,h3,li{
	font-family: helvetica;
}
#header_text p{
	position:relative;
	width:100%;
	z-index:9900;
	/*border:1px solid;*/
	background:rgba(255,255,255,0.8);
	padding:15px 0 15px 0;
	line-height: 1em;
	color:#333;
}

#g_nav{
	border:1px solid #aaa;
	width:100%;
	height:50px;
	overflow: hidden;
}
#g_nav h1{
	width:100px;
	height:100%;
	float:left;
	text-align: center;
	line-height: 1.5em;
}
#g_nav ul{
	width:400px;
	height:100%;
	float:right;
}
#g_nav li{
	width:200px;
	float:left;
	text-align: center;
	line-height: 3em;
}
/*wrapper*/
#wrapper{
	/*position:absolute;*/
	/*left:50%;*/
	background:#fff;
	border:1px solid green;
	width:980px;
	/*margin-left:-490px;*/
	margin:0 auto;
}
#stage{
						/*　scriptで消してあげること */
	perspective:1000px;
}
.controll{
	height:580px;
}
.noscript p{
	height:30px;
	line-height: 2em;
}
.panel{
	/*position:relative;*/
	/*border:2px solid #333;*/
	width:250px;
	height:150px;
	margin-top:20px;
	margin-left:56px;
	float:left;
}

.panel>div{
	border:2px solid #000;
	background:rgba(0,0,0,0.3);
	width:100%;
}
.panel>div>a{
	/*border:1px solid #333;*/
	display:block;
	/*background-color:rgba(0,0,0,0.3);*/
	width:100%;
	height:100%;
}
		/*.sphere span{
			display:block;
			width:200px;
			height:30px;*/
			/*border:1px solid;
			cursor:pointer;
			line-height: 2em;*/
}
#footer{
	bottom:0;
	margin-top:50px;
	background:#333;
	width:100%;
	height:100%;
	padding-bottom:50px;
	color:#aaa;
	overflow: hidden;
}
#footer>ul{
	/*border:1px solid;*/
}
#footer>ul>li{
	width:33.333333%;
	/*border:1px solid;*/
	float:left;
}
#footer span{
	border:1px solid;
	display:block;
	width:8em;
	height:1.2em;
	margin-left:10%;
}
#footer>ul>li>ul{
	border-top:1px solid;
	padding-left:50px;
}
#footer>ul>li>ul>li{
	border-bottom:1px solid;
	margin-left:0px;
	padding-top:10px;
	width:80%;
}

















	

